style.
  @font-face {
    font-family: "Sax Mono";
    src: url("/fonts/saxmono.ttf") format("truetype");
  }

  body {
    font-family: "Sax Mono", monospace;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    position: absolute;
  }

  .img-abs {
    left 0;
    position: relative;
    top: 0;
  }

  .cert-name {
    font-size: 4em;
    z-index: 1000;
  }

  .cert-date {
    position: absolute;
    top: 62.8%;
    left: 38%;
    font-size: 3.8em;
    z-index: 1000;
  }

  .cert-link {
    font-size: 2em;
    z-index: 1000;
  }

